html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing :border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family:  'Lexend Deca', "Arial", sans-serif;
    font-family: 'space mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

:root {
    --btn-bg-color:  #FCB72B;
    --hero-text-color: #ffffff;
    
    --main-text-color: #202020;
    --news-time-text-color: #6b6d97;
    --popular-news-bg-color: #f6f6f9;
    --footer-bg-color: #295093;
  }