.btn{
    padding: 14px 39px;
    
    border: 3px solid transparent;
   
   
    background-color: var(--btn-bg-color);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #FFFFFF;
    transition: all 0.3s;
    cursor: pointer;
    
    
}
.btn:active{
    background:none;
    color: var(--btn-bg-color);
    border: 3px solid var(--btn-bg-color);
   
}
