.communication{
    background-image: url('../../img/Mask.svg') ;
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 1000;
    
}
.middle{
    background-image: url('../../img/ Copy.jpg') ;
    background-repeat: no-repeat;
    background-position: center left;
}



.communication__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 147px;
   margin-bottom: 178px;
   
    
   
   
}

.communication__start-title {
   width: 445px;
   margin: 0px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */

    letter-spacing: -2.14286px;

    color: #495567;
}

.communication__start-text {
    margin: 0px;
    margin-top: 24px;
    width: 445px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */


    color: #939CAA;
}

.communication__start_end{
    margin-top: 40px;
}

.cummunication__end-img{
  
   z-index: -1;
}